body {
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #333;
  margin-bottom: 0.5em;
}

h2 {
  color: #555;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 2em;
}

.buttons button {
  background-color: #9885FE;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 40px 10px 20px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.buttons button:hover {
  background-color: #7465D9;
}
