.container {  display: grid;
  grid-template-columns: 1.2fr 0.8fr 1fr;
  grid-template-rows: 0.3fr 1.7fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Title Title Title"
    "Filters Profiles Profiles"
    "Filters Profiles Profiles";
  height: 100vh;
}

.Title {
  grid-area: Title; 
  background-color: rgba(35,85,173);
  position: sticky;
  display: flex;
  justify-content: space-between; /* Aligns items to the main axis */
  align-items: center; /* Aligns items to the cross axis */
  flex-wrap: wrap; /* Allows items to wrap if needed */
}

.Title h1 {
  margin: 0; /* Removes default margin */
  color: white;
}

.Title h5 {
  margin: 0; /* Removes default margin */
  color: white;
}

.Title nav a {
  text-decoration: none;
  color: white;
  margin-left: 20px; /* Adds space between links */
  font-size: 14px;
}

.Title nav a:hover {
  text-decoration: underline;
}


.Filters {
  grid-area: Filters;
  padding: 20px;
  position: sticky;
  top: 0; /* Adjust as needed */
  height: 100%;
}

.Profiles {
  grid-area: Profiles;
  padding: 20px;
  overflow-y: auto; /* Enables vertical scrolling */
  max-height: 90vh; /* Example fixed height */
}

.add-to-favorites {
  position: absolute;
  right: 20px;
  bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #007bff; /* Example color, adjust as needed */
  color: white;
  cursor: pointer;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0px;
  background-color: #f4f4f4;
}

h1, h2 {
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  max-width: 500px;
  margin: 20px 0;
}

label {
  font-weight: bold;
  color: #555;
}

input[type="radio"], select {
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* So padding doesn't affect width */
}

input[type="submit"] {
  background-color: #0056b3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #004494;
}

.profile-detail {
  line-height: 23px;
  font-size: 14px;
  margin: 0 20px 20px 20px;
}

.form-group {
  margin-bottom: 20px;
}

.radio-group {
  margin-top: 15px;
  display: inline-block; /* Adjusted for closer alignment */
  margin-right: 20px; /* Adds some space between the 'Yes' and 'No' options */
}

.radio-label {
  margin-left: 5px; 
  font-weight: normal;
  display: inline; 


#cofounder-list ul {
  list-style-type: none;
  padding: 0;
}

#cofounder-list ul li {
  list-style-type: none;
  background-color: #fff;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
